@model IEnumerable<TestProject.Domain.Entities.Quiz>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Quizz</h1>


    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>
            <div class="col-sm-8 text-center">
                <h2>Why should you do quizz?</h2>
                <p>In the world of education there are many different ways to teach and to consolidate what has been learned. In years gone by, children were expected to memorise dates, formulae and figures by rote. But this method of teaching can be quite dull, to say the least! One tool becoming more common, especially in online education, is quizzes. In this guide we’ll find out the many reasons why quizzes are valuable in learning.</p>
                <hr>
            </div>
            <div class="col-sm-2 sidenav">
            </div>
        </div>
    </div>

    <table class="table table-striped">

        <tbody>
            @using (Html.BeginForm())
            {
                <p>
                    Find by name: @Html.TextBox("SearchString")
                    <input type="submit" value="Search" />
                </p>
                <p>
                    @Html.ActionLink("Sort by: Title", "Index", new { sortOrder = ViewBag.NameSortParm })
                </p>

            }

            @foreach (var a in ViewBag.Quizs)
            {
                <tr>
                    <td><a href="Home/Test/@a.QuizId">@($"{a.Title}")</a></td>
                </tr>
            }

        </tbody>
    </table>
    <form action="Quiz/Edit">
        <input type="submit" value="Edit">
    </form>
    <form action="Quiz/Add">
        <input type="submit" value="Add">
    </form>
    <footer class="container-fluid text-center">
        <p></p>
    </footer>
</div>
