@model IEnumerable<TestProject.Domain.Entities.Quiz>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Quizzes</h2>
    <table class="table table-striped">

        <tbody>
            @using (Html.BeginForm())
            {
                <p>
                    Find by name: @Html.TextBox("SearchString")
                    <input type="submit" value="Search" />
                </p>
            }

            @foreach (var a in ViewBag.Quizs)
            {
                <tr>
                    <td><a href="Home/Test/@a.QuizId">@($"{a.Title}")</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
