
@{
    ViewData["Title"] = "Home page";

}


<h4 style="margin-top: 4%;"> <span class="label label-info">Question: </span> </h4>
@using (Html.BeginForm("Submit", "HomeController", FormMethod.Post))
{

    @foreach (var q in ViewBag.Questions)
    {
        @q.Title
        <input type="hidden" name="questionId" value="@q.QuestionId" />

        @foreach (var c in q.Answers)
        {
            <div>
                <input type="radio" name="question_@q.QuestionId " value="@c.AnswerId" /> @c.Title
            </div>
        }
    }
} <form action="/Home/Submit"><input type="submit" value="Submit" /> </form>


       