
@{
    ViewData["Title"] = "Home page";

}


        <h4 style="margin-top: 4%;"> <span class="label label-info">Questions :</span> </h4>
        <form asp-controller="question" asp-action="submit">
            @foreach (var q in ViewBag.Questions)
            {
                @q.Title
                <input type="hidden" name="questionId" value="@q.QuestionId" />

                @foreach (var c in q.Answers)
                {
                    <li>
                        <input type="radio" name="question_@q.QuestionId " value="@c.AnswerId" /> @c.Title
                    </li>
                }
            }
            <input type="submit" value="Submit" />
        </form>
