@model IEnumerable<TestProject.Domain.Entities.Quiz>

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}


    <h2>Quizzes</h2>
    <table class="table table-striped">
        <tbody>
            @foreach (var a in Model)
            {
                <tr>
                    <td>@($"{a.Title}")</td>
                </tr>
            }
        </tbody>
    </table>


